@font-face {
   font-family: 'CreatoDisplay';
   src: url('./fonts/CreatoDisplay-Regular.otf') format('opentype');
}
@font-face {
   font-family: 'CreatoDisplayMedium';
   src: url('./fonts/CreatoDisplay-Medium.otf') format('opentype');
}
@font-face {
   font-family: 'CreatoDisplayBold';
   src: url('./fonts/CreatoDisplay-Bold.otf') format('opentype');
}
@font-face {
   font-family: 'CreatoDisplayBlack';
   src: url('./fonts/CreatoDisplay-Black.otf') format('opentype');
}
@font-face {
   font-family: 'CreatoDisplayLight';
   src: url('./fonts/CreatoDisplay-Light.otf') format('opentype');
}

body {
   font-family: 'CreatoDisplay', sans-serif;
   margin: 0;
   height: 100vh;
   background-color: #01040d;
   background-image: linear-gradient(#02081b93 1px, transparent 1px),
      linear-gradient(90deg, #02081b93 1px, transparent 1px);
   background-size: 5rem 5rem;
   color: #fff;
   overflow-x: hidden;
}

/* Navigation */

.nav-logo {
   width: 5rem;
   height: 5rem;
   margin: 0;
}
.nav-logo img {
   width: 100%;
   height: 100%;
}
nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 2rem;
}

header {
   position: fixed; /* Set the navbar to fixed position */
   top: 0; /* Position the navbar at the top of the page */
   width: 100%; /* Full width */
   z-index: 1000;
}

ul {
   display: flex;
   list-style: none;
   margin: 0;
   padding: 0;
}
li {
   margin-right: 1rem;
}
a {
   text-decoration: none;
   color: rgb(143, 143, 143);
}
.hamburger {
   display: flex;
   flex-direction: column;
   gap: 0.3rem;
   cursor: pointer;
   padding: 1rem;
}

.line {
   width: 2rem;
   height: 2px;
   background: linear-gradient(to left, #777777, #ffffff);
   border-radius: 70%;
   align-self: flex-start;
   overflow: hidden;
}

.line-short {
   width: 1rem;
   height: 2px;
   border-radius: 20%;
   align-self: flex-end;
   margin-left: 2px;
}

.line-shorter {
   width: 1rem;
   height: 2px;
   border-radius: 20%;
   align-self: flex-start;
}

/* Hero Section */

main {
   display: flex;
   justify-content: center;
   align-items: center;
}

.hero-image {
   width: 57vw;
   height: 75vh;
}

.hero-image img {
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.hero-content {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.hero-para {
   max-width: 40rem;
}

.hero-text {
   padding: 5rem;
   width: 57vw;
   height: 85vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   text-align: left;
   font-family: 'CreatoDisplayLight', sans-serif;
   position: relative;
}

.hero-svg {
   position: absolute;
   top: 27%;
   left: 50%;
}

.hero-svg2 {
   position: absolute;
   top: 26%;
   left: 52.5%;
}

.hero-title {
   font-size: 3.1rem;
   margin-bottom: 1rem;
}

.highlight {
   background: linear-gradient(to right, #525252, #ffffff);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.highlight2 {
   background: linear-gradient(to left, #525252, #ffffff);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.special {
   background: linear-gradient(to right, #f9bc35, #f05d74);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-family: 'CreatoDisplayBold', sans-serif;
}

.hero-para {
   font-size: 1rem;
   margin-bottom: 1rem;
   color: #525252;
   font-family: 'CreatoDisplay', sans-serif;
}

.hero-btn {
   align-self: flex-start;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   width: 100%;
}

.hero-btn h2 {
   font-size: 1rem;
}

.hero-btn button {
   background: linear-gradient(to top, #01030f, #2e313a);
   border: #525252 1px solid;
   color: rgb(201, 201, 201);
   border-radius: 2rem;
   padding: 0.5rem 1rem;
   font-family: 'CreatoDisplayBold', sans-serif;
}

.contact {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 5rem;

   color: white;
}

.roadmap {
   width: auto;
   height: 80vh;
   overflow: hidden;
   border-radius: 2rem;
}

.outer {
   padding: 2rem;
   background-color: #02050d;
   border-radius: 2rem;
   border: #525252 1px solid;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding-bottom: 0;
}

.roadmap img {
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.social-links {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 2rem;
   flex-direction: row;
}
.social-link {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 0.5rem;
   flex-direction: row;
   background: linear-gradient(to bottom, #01030f, #1a1c20);
   border: #2e313a 1px solid;
   border-radius: 2rem;
   padding: 00rem 1rem;
}
.social {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding-bottom: 5rem;
}

.social-icon {
   width: 1.5rem;
   height: 1.5rem;
}

.social-icon img {
   width: 100%;
   height: 100%;
   object-fit: contain;

   border-radius: 100%;
}

.social-link p {
   font-size: 0.7rem;
   color: white;
}

/* Media Query */

@media only screen and (max-width: 600px) {
   body {
      background-size: 3rem 3rem;
   }
   /* Navigation */

   .nav-logo {
      width: 3rem;
      height: 3rem;
   }

   header {
      padding: 0.5rem 1rem;
   }

   .line {
      width: 1rem;
   }
   /* Hero Section */
   main {
      flex-direction: column;
      height: auto;
   }
   .hero-text {
      padding: 0rem;
      width: 85vw;
      justify-items: center;
      align-items: center;
   }

   .hero-title {
      font-size: 1.6rem;
      text-align: center;
   }

   main {
      transform: translateY(-20%);
   }

   .hero-image {
      width: 100%;
      height: 50vh;
      position: absolute;
      top: 55%;
      left: 0%;
   }
   .hero-para {
      font-size: 1rem;
      text-align: center;
      color: white;
      max-width: 40rem;
   }
   .hero-content {
      transform: translateY(490%);
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .contact {
      transform: translateY(30%);
   }
   .hero-svg {
      top: 20%;
      left: 90%;
      font-size: 2rem;
   }
   .hero-btn button {
      font-size: 0.7rem;
   }
   .hero-svg2 {
      top: 19%;
      left: 97%;
      font-size: 1rem;
   }
   .hero-btn span {
      font-size: 0.5rem;
   }

   .hero-btn {
      margin: 0;
   }
   /* Contact Section */
   .roadmap {
      width: 100%;
      height: 30vh;
   }
   .outer {
      width: 80%;
      padding: 1rem;
   }
   .outer h2 {
      font-size: 1rem;
      margin: 0;
      padding: 0;
   }

   .social h2 {
      font-size: 1rem;
   }

   .social-link {
      padding: 0rem 0.5rem;
   }

   .social-icon {
      width: 1rem;
      height: 1rem;
   }
   .social-link p {
      font-size: 0.5rem;
   }
}
